body{
 background-image: url("../img/body_bg.gif");
    padding-right: 0px;
    padding-left: 0px;
    /*width: 600px;*/
    /*height: 960px;*/
}
#application{

    /*width: 100%;*/
    /*height: 960px;*/
    /*height: 500px;*/
    border-style:solid;
    border-width: 1px;
    border-color: dodgerblue;
}
.navbar-inner{
    background-image: url("../img/Footer_bg.gif");
}
table{
    table-layout: fixed;
    border: 2px solid black;
    color: #ffffff;
}
td, th {
    height: 20px;
    border: 2px solid black;
}
.table-hover tbody tr:hover>td, .table-hover tbody tr:hover>th{
    background-color: #69C9D4;
}
.navbar-inner>.container{
    text-align: center;
    color: #ffffff;
}
.container>#heading{
    display:inline-block;
}
.container>#dateContainer{
    margin-right: 10px;
    display:inline-block;
    float: right;
    text-decoration: underline;
}
div[ng-view]{

}



div[contenteditable=false]{

}
div[contenteditable=true]{
    width: 100%;
}

footer.well{
    text-align:  center;
    background-image: url("../img/Footer_bg.gif");
    padding: 0px 0px 5px;
    margin-left: 0px;
    margin-right: 0;
}
.container>#buttonsContainer{
    float: left;
    display:inline-block;
    width: 247px;
}


/*-------carts.html-------*/
.cartsHolder{
    /*margin-left: 10px;*/
}
.thumbnails{
    margin-left: 15px;
}
.thumbnails>li{
    background-color: gainsboro;
    width: 125px;
    height: 130px;
    margin-left: 10px;
    float: left;
}
/*-------carts.html-------*/

/*-------cart.html-------*/
#totalCostDiv{
    background-image: url("../img/divBG.png");
    background-color: gainsboro;
}
#totalCostDiv:hover>td{
    background-color: transparent !important;
}
#totalCost{
    float: right;
}
.cartLabels{
    font-size: 18px;
    font-weight: bold;
}
.cartInput{
    margin-bottom: 0px!important;
}
/*-------cart.html-------*/


.itemBought{
    background-color: green;
}