<!DOCTYPE html>
<html ng-app="appModule">
<head>
    <title ng-controller="appCtrl">{{title}}</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-responsive.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">

    <script type="text/javascript" src="js/libraries/jquery-2.0.0.js"></script>
    <script type="text/javascript" src="js/libraries/angular.min.js"></script>
    <script type="text/javascript" src="js/libraries/bootstrap.min.js"></script>


    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div id="application" ng-controller="appCtrl">
    <div id="header">
        <div id="heading"><h4>{{heading | uppercase}}</h4></div>
        <div id="dateContainer"><h5>{{date | date}}</h5></div>
    </div>
    <table class="table table-hover">
        <tr>
            <th style="width: 5%">No.</th>
            <th>Item</th>
            <th>Quantity</th>
            <th>Status</th>
        </tr>
        <tr ng-repeat="product in products | range:10">
            <td ng-show="product.item || product.quantity">{{$index+1}}</td>
            <td><div contenteditable="{{isEditable}}" ng-model="product.item">{{product.item}}</div></td>
            <td><div contenteditable="{{isEditable}}" ng-model="product.quantity">{{product.quantity}}</div></td>
            <td style="text-align: center"><input type="checkbox" ng-model="product.status" ng-show="product.item || product.quantity"></td>
        </tr>
    </table>
    <button class="btn btn-warning">Edit</button>
    <button class="btn btn-danger">Remove</button>
    <button class="btn btn-success">Done</button>
</div>
</body>
<script type="text/javascript" src="js/module.js"></script>
</html>