<!DOCTYPE html>
<html ng-app="appModule">
<head>
    <title ng-controller="appCtrl">{{title}}</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-responsive.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">

    <script type="text/javascript" src="js/libraries/jquery-2.0.0.js"></script>
    <script type="text/javascript" src="js/libraries/angular.min.js"></script>
    <script type="text/javascript" src="js/libraries/bootstrap.min.js"></script>


    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div id="application" ng-controller="appCtrl">

    <div class="navbar">
        <div class="navbar-inner">
            <div class="container">
                <div id="heading"><h4>{{heading | uppercase}}</h4></div>
                <div id="dateContainer"><h5>{{date | date}}</h5></div>
            </div>
        </div>
    </div>
    <div ng-view></div>
    <footer class="well navbar navbar-fixed-bottom">
        <div id="buttonsContainer">
            <button id="list" class="btn btn-info" ng-show="nav.listBtn" onclick="location.href='#/';"><span class="icon-edit icon-white"></span>List</button>
            <button id="edit" class="btn btn-warning" ng-show="nav.editBtn" ng-click="toggleEditable()"><span class="icon-edit icon-white"></span>Edit</button>
            <button id="remove" class="btn btn-danger" ng-show="nav.removeBtn" ng-click="removeRow()"><span class="icon-remove icon-white"></span>Remove</button>
            <button id="cart" class="btn btn-success" ng-show="nav.cartBtn" onclick="location.href='#/carts';"><span class="icon-shopping-cart icon-white"></span>Carts</button>
        </div>
    </footer>
</div>
</body>
<script type="text/javascript" src="js/module.js"></script>
<script type="text/javascript" src="js/controllers.js"></script>
<script type="text/javascript" src="js/directives.js"></script>
<script type="text/javascript" src="js/factories.js"></script>
<script type="text/javascript" src="js/filters.js"></script>
<script type="text/javascript" src="js/services.js"></script>
</html>